.product_img{
  display:flex;
  justify-content: flex-end;
}

.addBtn{
  background-color:rgb(217, 31, 31) ;
  color:white;
  width:330px;
  border-radius: 50px;
  margin-top:20px;
  border-color:rgb(217, 31, 31);
}
.addBtn:active{
  background-color:white;
  color:black;
}

@media(max-width:992px){
  .product_img{
    justify-content: center;
  }
  .product_img img{
    width:350px !important;
    margin-bottom:10px;
   
  }
  
  .addBtn{
    margin-bottom: 20px;
  }
}