.loginIcon{
margin:30px;
margin-top:10px;
  display:flex;
 justify-content: flex-end;
 align-items: flex-end;
 cursor:pointer
  
}
.loginBtn{
  color:black
}
.NavBar{
  display: flex;
  justify-content: center;
}
.menuList{
  list-style: none;
  display:flex;
  flex-direction: row;
  margin-left:180px;
}
.menuList li{
  margin:6px;
}
.menuArea{
  display:flex;
  justify-content: center;
  width:100vw;
  /* margin-left:250px; */
}
.input{
  border:none;
  border-bottom:2px solid black;
  width:180px;
  padding-left:10px;

  
}
.searchSec{
  display: flex;
 align-items: flex-start;
  margin-left:400px;

  
  
}


.none{
  display: none;
}


.offcanvas-body{
  justify-content: center;
}

.searchInput{
  margin-left:150px;
}

.navbar .container, .navbar .container-fluid, 
.navbar .container-lg, .navbar .container-md, 
.navbar .container-sm, .navbar .container-xl,
 .navbar .container-xxl{
  justify-content: flex-end !important;
}


.bg-body-tertiary,.offcanvas.navbar-expand-md .offcanvas{
  background-color: white !important;
  --bs-bg-opacity: 0 !important;
}
.bg-body-tertiary{
  --bs-bg-opacity: 0;
}


@media(max-width:992px){
  .menuList{
    margin-left:10px;
  }
 
}